{% extends 'menucard/base.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h2>Besucherliste</h2>
            <hr>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="{% url 'besucherliste_csv_download' %}"
                   target="_blank">
                    <span class="fas fa-file-download"></span> CSV Export
                </a>
                <a class="btn btn-primary" href="{% url 'besucherliste_pdf_download' %}"
                   target="_blank">
                    <span class="fas fa-file-download"></span> PDF Export
                </a>
                <a class="btn btn-primary" href="{% url 'besucherliste_pdf_view' %}"
                   target="_blank">
                    <span class="fas fa-file-pdf"></span> PDF anzeigen
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilter"
                        aria-expanded="false" aria-controls="collapseFilter">
                    <span class="fas fa-filter"></span> Filter
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="collapse" id="collapseFilter">
                <div class="card">
                    <div class="card-body">
                        <form method="GET">
                            {% csrf_token %}
                            {{ besucher_filter.form | crispy }}
                            <button type="submit" class="btn btn-primary m-2"><span class="fas fa-filter"></span>
                                Filtern
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>

                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Straße</th>
                        <th scope="col">Hausnummer</th>
                        <th scope="col">PLZ</th>
                        <th scope="col">Stadt</th>
                        <th scope="col">Besucht</th>

                        <th scope="col" class="text-center"><span class="fas fa-trash-alt"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Zur Ausgabe die index-Variable nutzen. In diesem Fall ma -->
                    {% for besucher in besucher %}
                        <tr>
                            <td>{{ besucher.vorname }}</td>
                            <td>{{ besucher.nachname }}</td>
                            <td>{{ besucher.email }}</td>
                            <td>{{ besucher.telefon }}</td>
                            <td>{{ besucher.strasse }}</td>
                            <td>{{ besucher.hausnummer }}</td>
                            <td>{{ besucher.plz }}</td>
                            <td>{{ besucher.stadt }}</td>
                            <td>{{ besucher.besucht_am }}</td>


                            <td class="text-center">
                                <a class="btn btn-sm btn-danger" href="{% url "besucher_loeschen" besucher.id %}"
                                   data-toggle="tooltip" data-placement="top" title="Besucher löschen">
                                    <span class="fas fa-trash-alt"></span></a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock body %}



