{% extends 'menucard/base.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h2>COVID-19-Daten erfassen</h2>
            <hr>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p>Zu Ihrem Schutz und einer möglichst schnellen Nachverfolgbarkeit möglicher Infektionsketten mit dem
                neuartigen Covid-19-Virus („Corona“) sind wir verpflichtet, Ihre Anwesenheit in unserem Geschäft/Lokal
                zu dokumentieren. Unten auf dieser Seite finden Sie Details zur Datenverarbeitung. </p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <b>Mit einem Klick auf Speichern stimmen Sie den unten aufgeführten Datenschutzbestimmungen zu.</b>
                <a href="{% url 'menucard' kunde.email %}" class="btn btn-danger">Abbrechen</a>
                <input class="btn btn-success" type="submit" name="Submit" value="Speichern">
                <br>
            </form>
            <!-- Modal -->
            <p>

                <br>
                <b>1. Bezeichnung der Verarbeitungstätigkeit / Erhobene Daten</b>
                <br>
                Erhebung Besucherdaten im Zuge der Corona-Pandemie. Folgende personenbezogene Daten werden hierbei
                erhoben: (Bei Bedarf anpassen, wenn Ihre Gesundheitsbehörde / Verordnung hier weitere Angaben zur
                Erhebung vorschreibt) Name, Rufnummer, Besuchsdatum und Uhrzeit bzw. Aufenthaltsdauer
                <br>
              <b>  2. Name und Kontaktdaten des Verantwortlichen</b>
                <br>
                Name der Organisation
                Straße
                PLZ Ort
                Zentrale Rufnummer
                Zentrale Email-Adresse
                Name Geschäftsführer / Inhaber / Landrat / Bürgermeister
                <br>
               <b> 3. Kontaktdaten des Datenschutzbeauftragten</b>
                <br>
                Kontaktdaten Ihres internen / externen DSB angeben:
                Optional: Name
                Optional: Firma / Anschrift
                Pflicht: Email-Adresse
                Optional: Rufnummer
                <br>
                Sofern Sie nicht der Pflicht zur Benennung eines DSB unterliegen:
                Wir sind gesetzlich nicht verpflichtet, einen Datenschutzbeauftragten zu benennen und haben daher keinen
                Datenschutzbeauftragten benannt. Für Fragen zum Datenschutz wenden Sie sich bitte an
                Kontakt-Rufnummer
                Kontakt-Email
                <br>
               <b> 4. Zwecke und Rechtsgrundlagen der Verarbeitung</b>
                <br>
                Zwecke
                - Schutz der Gesundheit unserer Beschäftigten
                - Eindämmung der Pandemie im Hinblick auf Nachverfolgung von Infektionsketten
                <br>
                Rechtsgrundlagen (bitte auf Sie nicht zutreffende Rechtsbezüge streichen)
                - gesetzliche Grundlage nach Art. 6 Abs. 1 lit. c DSGVO bzw. § 6 Abs. 1 DSG-EKD
                - Wahrnehmung der Aufgaben des öffentlichen Interesses nach Art. 6 Abs. 1 lit. e DSGVO
                - Gesundheitsschutz nach §22 Abs. 1 (1) lit. c BDSG
                - Schutz lebenswichtiger Interessen der betroffenen Person oder einer anderen natürlichen Person nach §
                6 Abs. 1 DSG-EKD
                Bei Vorhandensein weiterer Rechtsgrundlagen z.B. aus Länderverordnungen etc. vorstehende
                Rechtsgrundlagen ergänzen
                <br>
               <b> 5. Empfänger oder Kategorien von Empfängern der personenbezogenen Daten</b>
                <br>
                Die Daten verbleiben intern und werden nur auf Anfrage seitens der Gesundheitsbehörde an diese
                übermittelt.
                <br>
                Für Zwecke des Infektionsschutzes sehen die aktuell geltenden Rechtsvorschriften
                Auskunftsverpflichtungen unsererseits gegenüber den zuständigen Gesundheitsbehörden vor. Werden Ihre
                personenbezogenen Daten von der zuständigen Gesundheitsbehörde angefordert, ist der oder die jeweilige
                Landrat / Landrätin bzw. Oberbürgermeister / Oberbürgermeisterin, für die weitere Verarbeitung Ihrer
                personenbezogenen Daten bei den Gesundheitsbehörden verantwortlich.
                <br>
               <b> 6. Übermittlung von personenbezogenen Daten an ein Drittland</b>
                <br>
                Es findet keine Übermittlung an ein Drittland statt.
                <br>
                <b>7. Dauer der Speicherung der personenbezogenen Daten</b>
                <br>
                Die erhobenen Daten werden unverzüglich nach Beendigung der Pandemie gelöscht. Unbedingt an die Vorgaben
                aus Ihrer Länderverordnung anpassen.
                <br>
               <b> 8. Betroffenenrechte</b>
                <br>
                Nach der Datenschutz-Grundverordnung stehen Ihnen folgende Rechte zu:
                <br>
                Werden Ihre personenbezogenen Daten verarbeitet, so haben Sie das Recht Auskunft über die zu Ihrer
                Person gespeicherten Daten zu erhalten (Art. 15 DSGVO).
                <br>
                Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu
                (Art. 16 DSGVO).
                <br>
                Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der
                Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung einlegen (Art. 17, 18 und 21 DSGVO). Der
                Anspruch auf Löschung ist außer Kraft gesetzt, wenn eine Rechtsvorschrift eine weitere Aufbewahrung
                vorsieht. Dann kann Ihrem Wunsch auf Löschung erst zum Ablauf der gesetzlichen Aufbewahrungsfrist
                entsprochen werden.
                <br>
                Wenn Sie in die Datenverarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und
                die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls
                ein Recht auf Datenübertragbarkeit bezüglich der personenbezogenen Daten zu, die Sie uns bereitgestellt
                haben (Art. 20 DSGVO).
                <br>
                Sollten Sie von Ihren oben genannten Rechten Gebrauch machen, prüfen wir, ob die gesetzlichen
                Voraussetzungen hierfür erfüllt sind.
                <br>
                Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde für den Datenschutz.
                <br>
               <b> 9. Pflicht zur Bereitstellung der Daten</b>
                <br>
                Wenn Sie unsere Leistungen in Anspruch nehmen wollen, sind wir durch die aktuellen Rechtsvorschriften
                zur Bekämpfung der Corona-Pandemie verpflichtet, Ihre Daten zu verarbeiten.
                <br>
                Wenn Sie die erforderlichen Daten nicht angeben, können wir Ihnen den Besuch unserer Einrichtung leider
                nicht gestatten.
            </p>
        </div>
    </div>
{% endblock body %}
