{% load static %}
{% load crispy_forms_filters %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
            integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
            crossorigin="anonymous"></script>

    <title>Covid-19 Datenerfassung</title>
</head>
<body>

<header>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark shadow-sm">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/Happy_QR.png' %}" alt="HappyQR" height="48" width="155" loading="lazy">
        </a>
    </nav>
</header>

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h4>Corona-Anmeldung</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-muted mb-3">
                Sie erklären sich damit einverstanden, dass Ihre Daten zu Ihrem Schutz und einer möglichst schnellen
                Nachverfolgbarkeit möglicher Infektionsketten mit dem neuartigen Covid-19-Virus („Corona“)
                gespeichert werden und Ihre Anwesenheit in unserem Lokal von uns dokumentiert wird. Bitte wenden Sie
                sich bei Fragen an das Personal. Mehr Informationen erhalten Sie in der
                <a href="{% url 'datenschutz' %}" target="_blank">Datenschutzerklärung.</a>
            </small>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-primary" type="submit" name="Submit" value="Anmelden">
                <a href="{% url 'menucard' kunde.user.username %}" class="btn btn-secondary">Abbrechen</a>
                <br>
            </form>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <hr>
        <p class="mb-1">&copy; 2020 HappyQR</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'datenschutz' %}">Impressum</a></li>
        </ul>
    </footer>
</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>