<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
            integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
            crossorigin="anonymous"></script>

    <title>Happy-QR &ndash; Benutzerhandbuch </title>
</head>
<body>

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2>Benutzerhandbuch</h2>
            <hr>
            <h3>Inhalt</h3>
            <p>
                <a href="#einloggen">Einloggen</a> <br>
                <a href="#anzeigen">Produkt anzeigen</a> <br>
                <a href="#anlegen">Produkt anlegen</a> <br>
                <a href="#loeschen">Produkt löschen</a> <br>
                <a href="#bearbeiten">Produkt bearbeiten</a> <br>
                <a href="#pbearbeiten">Profil bearbeiten & Passwort ändern</a> <br>
                <a href="#covid">Erafsste Corona-Anmeldungen anzeigen </a> <br>
                <a href="#template">Template Auswahl, anzeigen der Menükarte & Export des QR-Codes </a> <br>
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3 id="einloggen">Einloggen</h3>
            <p>
                Der Benutzer kann sich über eine Eingabemaske in seinem Account einloggen. Hierfür muss der Benutzer
                seinen Benutzernamen und das Passwort eingeben. Durch Klicken auf
                <strong>Login</strong> wird der
                Benutzer in seinem Account eingeloggt und wird auf sein persönliches Dashboard weitergeleitet.
            </p>
            <hr>
            <h3 id="anzeigen">Produkt anzeigen</h3>
            <p>
                Auf dem Menükarten-Dashboard hat der Benutzer Zugriff auf sechs Unterschiedliche
                Bearbeitungsmöglichkeiten der Menükarte. Um ein Produkt anzulegen, muss der Benutzer auf <strong>Anzeigen</strong>
                der jeweiligen Sparte klicken. Durch den Klick auf <strong>Anzeigen</strong> wird der Benutzer auf die
                jeweilige Sparte
                weitergeleitet. Der Benutzer hat die Option
            </p>
            <ul>
                <li>ein neues Produkt anzulegen,</li>
                <li>ein existierendes Produkt zu bearbeiten,</li>
                <li>ein existierendes Produkt aus der Menükarte zu löschen und</li>
                <li>nach einem speziellen Produkt zu suchen, indem die Filter-Funktion benutzt wird.</li>
            </ul>
            <p>
                Die Daten der bereits angelegten Produkte werden in einer Tabelle dargestellt. Der Benutzer erhält so
                eine
                Übersicht über die angelegten Produkte.
            </p>
            <hr>
            <h3 id="anlegen">Produkt anlegen</h3>
            <p>
                Um ein Produkt anzulegen muss der Benutzer <strong>Vorspeise
                hinzufügen</strong> klicken.
                Daraufhin wird der Benutzer auf eine separate Seite weitergeleitet. Zu sehen ist eine Eingabemaske und
                ein
                Informationsfeld, dass sämtliche Zusatzstoffe und Allergene mit den jeweiligen Abkürzungen aufzeigt.
                <br>
                Damit der Benutzer ein Produkt anlegen kann, muss er die Pflichtfelder, die mit einem Sternchen (*)
                markiert
                sind ausfüllen. Um das Produkt anzulegen muss der Benutzer auf <strong>Speichern</strong> klicken.Durch
                einen Klick auf
                <strong>Abbrechen</strong> wird der Vorgang abbgebrochen und der Benutzer wird zurück auf die Übersicht
                der jeweilgen
                Sparte weitergeleitet.
            </p>
            <hr>
            <h3 id="loeschen">Produkt löschen</h3>
            <p>
                Möchte der Benutzer ein Produkt aus der Menükarte entfernen bzw. löschen, muss er zunächst auf der
                Übersichtsseite der Sparte auf das <span class="fas fa-trash-alt" style="color: crimson"></span>
                (Mülltonnen-Symbol) klicken. Daraufhin wird der Benutzer auf die
                <strong>Löschen</strong> Seite weitergeleitet, wo der Benutzer die Daten des Produkts nochmal vor dem
                löschen überprüfen
                kann. Durch eine Klick auf <strong>Löschen</strong> wird das Produkt aus der Menükarte entfernt. Ein
                Klick auf <strong>Abbrechen</strong>
                beendet den Vorgang und der Benutzer wird zurück auf die Übersicht der jeweilgen Sparte weitergeleitet.

            </p>
            <hr>
            <h3 id="bearbeiten">Produkt bearbeiten</h3>
            <p>
                Möchte der Benutzer ein Produkt aus der Menükarte bearbeiten, muss er zunächst auf der Übersichtsseite
                der Sparte auf das <span class="fas fa-edit" style="color: blue"></span> (Stift-Symbol) klicken.
                Daraufhin wird der Benutzer auf die <strong>Bearbeiten</strong> Seite
                weitergeleitet, wo der Benutzer die Daten des Produkts bearbeiten kann. Durch eine Klick auf <strong>Speichern</strong>
                werden die modifizierten Veränderungen übernommen und in der Menükarte aktualisiert. Ein Klick auf
                <strong>Abbrechen</strong> beendet den Vorgang und der Benutzer wird zurück auf die Übersicht der
                jeweilgen Sparte
                weitergeleitet.

            </p>
            <hr>
            <h3 id="pbearbeiten">Profil bearbeiten und Passwort ändern</h3>
            <p>
                Möchte der Benutzer seine persönlichen Daten ändern, muss er zunächst in der Navigationsleiste auf
                seinen
                Benutzernamen klicken. Daraufhin erscheint eine <strong>Dropdown-Liste</strong> mit zwei Optionen –
                <strong>Profil</strong> und <strong>Logout</strong>.
                Hier klickt der Benutzer Profil und es erscheint eine neue Seite mit den Daten des Benutzers. In der
                Eingabemaske kann der Benutzer nun seine Daten verändern und durch einen Klick auf
                <strong>Speichern</strong> die
                Daten erfassen oder durch einen Klick auf <strong>Abbrechen</strong> den Vorgang beenden.
            </p>
            <p>
                Um das Passwort zu ändern muss der Benutzer auf <strong>Passwort ändern</strong> klicken.
                Anschließend öffnet sich ein Modal-Fenster, wo der Benutzer in einer Eingabemaske zunächst sein
                aktuelles
                Passwort eingeben muss. Anschließend gibt der Benutzer sein neues Passwort an und bestätigt in letzten
                Eingabefeld das neue Passwort und kann die Änderung durch das Klicken auf <strong>Speichern</strong>
                übernehmen.
                Durch einen Klick auf <strong>Abbrechen</strong> wird der Vorgang beendet.

            </p>
            <hr>
            <h3 id="covid">Erfasste Corona-Anmeldung anzeigen</h3>
            <p>
                Damit der Benutzer die erfassten Daten seiner Kunden anzeigen lassen kann, muss dieser in der
                Navigationsleiste auf <strong>Covid-19 Daten</strong> klicken. Es öffnet sich eine
                neue Seite. Zu sehen ist eine Liste in Form einer Tabelle, mit den personenbezogenen Daten der erfassten
                Kunden.
                <br>
                Der Benutzer hat auf dieser Seite folgenden Optionen:
            </p>
            <ul>
                <li>Personenbezogenen Daten als CSV-Datei exportieren durch das Klicken auf CSV Export</li>
                <li>Personenbezogenen Daten als PDF-Date exportieren durch das Klicken auf PDF Export</li>
                <li>Personenbezogenen Daten als PDF-Datei direkt im Browser anzeigen lassen durch das Klicken auf PDF
                    anzeigen
                </li>
                <li>
                    Personenbezogenen Daten durch das Klicken auf <span class="fas fa-trash-alt"
                                                                        style="color: crimson"></span>
                    (Mülltonnen-Symbol). Daraufhin wird der
                    Benutzer auf die Löschen Seite weitergeleitet, wo der Benutzer die Daten der Person vor dem
                    löschen überprüfen kann. Durch eine Klick auf <strong>Löschen</strong> wird der Eintrag aus der
                    Liste gelöscht. Ein
                    Klick auf <strong>Abbrechen</strong> beendet den Vorgang und der Benutzer wird zurück auf die
                    Übersicht der
                    Covid-19 Daten weitergeleitet
                </li>
                <li>Nach bestimmten Personen suchen, in dem die Filter-Funktion eingesetzt wird</li>
            </ul>
            <hr>
            <h3 id="template">Template Auswahl, anzeigen der Menükarte & Export des QR-Codes</h3>
            <p>
                Der Benutzer hat die Möglichkeit, das Design der Menükarte jederzeit zu verändern. Hierfür kann er auf
                dem Dashboard unter <strong>Template-Auswahl</strong> durch eine <strong>Dropwdown-Liste</strong> sich
                eines von drei Templates
                aussuchen. Durch klicken auf <strong>Speichern</strong> übernimmt das System die Änderung und es
                erscheint eine
                Meldung, dass das Template – und somit das Design der Menükarte erfolgreich
                geändert wurde.
            </p>
            <p>
                Der Benutzer kann sich nun die Menükarte durch klicken auf <strong>Zur Menükarte</strong> in einem neuen
                Browser-Tab
                anzeigen lassen. Es wird empfohlen sich die Menükarte im neuen Browser-Tab in der
                mobilen Ansicht anzusehen. Mit einem Rechtsklick auf dem Tab klickt der Benutzer in der Liste auf
                <strong>Untersuchen</strong> und innerhalb der Entwicklungskonsole auf das Smartphone-Tablet-Sybmol.
                Dadurch erhält
                der Benutzer die mobile Ansicht des Menükarte.
            </p>
            <p>
                Kunden können die Menükarte durch das Scannen des QR-Codes über den Browser im Smartphone
                erreichen. Diese kann der Benutzer durch Klicken auf <strong>QR-Code generieren</strong> als PDF-Datei
                exportieren,
                ausdrucken und im Lokal den Kunden zur Verfügung stellen.
            </p>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <hr>
        <p class="mb-1">&copy; 2020 HappyQR</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:happy.qr.hft@gmail.com">Fragen?</a></li>
        </ul>
    </footer>
</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>