{% extends 'menucard/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="row mt-3">
    <div class="col">
        <h2>Nachspeise bearbeiten</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-8 mt-3">
        <div class="card card-body shadow">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-success" type="submit" name="Submit" value="Speichern">
                <a class="btn btn-danger" href="{% url 'nachspeisen' %}">Abbrechen</a>
            </form>
        </div>
    </div>
    <div class="col-4 mt-3">
        <div class="card card-body">
            <p><strong>Zusatzstoffe &ndash; Abkürzungsverzeichnis</strong></p>
             <table class="table table-sm table-borderless">
                <thead>
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col" >Beschreibung</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Farbstoffe</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Coffeinhaltig</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Chininhaltig</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Antioxidationsmittel</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Konservierungsstoffe</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Taurin</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Geschmacksverstärker</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>mit Süßungsmittel(n)</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>enthält eine Phenylalaninquelle</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>gewachst ( Zitrusfrüchte, Melonen, Äpfel, Birnen….)</td>
                </tr>
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col" >Allergene</th>
                </tr>
                <tr>
                    <td>G</td>
                    <td>Glutenhaltiges Getreide, sowie daraus her gestellte Erzeugnisse</td>
                </tr>
                <tr>
                    <td>Ei</td>
                    <td>Eier & Eiererzeugnisse</td>
                </tr>
                <tr>
                    <td>Sf</td>
                    <td>Schalenfrüchte</td>
                </tr>
                <tr>
                    <td>Su</td>
                    <td>Schwefeldioxid & Sulfate</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>Milch & Milcherzeugnisse</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>Sojabohnen</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>Fisch</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td>Krebstiere und daraus gewonnene Erzeugnisse</td>
                </tr>
                <tr>
                    <td>Se</td>
                    <td>Sellerie und Sellerieerzeugnisse</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body%}