{% extends "crm/base.html" %}
{% load static %}
{% block body %}

<div class="row mt-3">
    <div class="col">
        <h2>Kunden löschen</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-body">

            <p>Wollen Sie Kunde <strong>{{ kunde }}</strong> wirklich löschen? </p>

            <form action="{% url 'kunde_loeschen' kunde.id %}" method="POST">
                {% csrf_token %}

                <a class="btn btn-warning" href="{% url 'kundenliste' %}">Abbrechen</a>
                <input class="btn btn-danger" type="submit" name="Bestätigen" value="Löschen">

            </form>
        </div>
    </div>
</div>

{% endblock body %}