{% extends "crm/base.html" %}
{% load static %}
{% block body %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Wollen Sie Mitarbeiter <strong>{{ mitarbeiter }}</strong> wirklich löschen? </p>

            <form action="{% url 'mitarbeiter_loeschen' mitarbeiter.id %}" method="POST">
                {% csrf_token %}

                <a class="btn btn-warning" href="{% url 'mitarbeiterliste' %}">Abbrechen</a>
                <input class="btn btn-danger" type="submit" name="Bestätigen">

            </form>
        </div>
    </div>
</div>

{% endblock body %}