{% extends 'crm/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="row mt-3">
    <div class="col">
        <h2>Kunden anlegen</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <div class="card card-body shadow">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form | crispy }}
                <input class="btn btn-success" type="submit" name="Submit" value="Speichern">
                <a class="btn btn-danger" href="{% url 'kundenliste' %}">Abbrechen</a>
            </form>

        </div>
    </div>
</div>

{% endblock body%}