{% extends 'crm/base.html' %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h2>Kundenliste</h2>
            <hr>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="{% url 'kunde_anlegen' %}">
                    <span class="fas fa-plus"></span> Kunden anlegen
                </a>
                <a class="btn btn-primary" href="{% url 'csv_download_kundenliste' %}"
                   target="_blank">
                    <span class="fas fa-file-download"></span> CSV Export
                </a>

                <a class="btn btn-primary" href="{% url 'pdf_download_kundenliste' %}"
                   target="_blank">
                    <span class="fas fa-file-download"></span> PDF Export
                </a>

                <a class="btn btn-primary" href="{% url 'pdf_view_kundenliste' %}"
                   target="_blank">
                    <span class="fas fa-file-pdf"></span> Kundenliste anzeigen
                </a>

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="table-responsive">


                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Web</th>
                        <th scope="col">Notiz</th>
                        <th scope="col" class="text-center"><span class="far fa-edit"></span></th>
                        <th scope="col" class="text-center"><span class="fas fa-trash-alt"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Zur Ausgabe die index-Variable nutzen. In diesem Fall 'kunde' -->
                    {% for kunde in kunden %}  <!-- 'kunden' ist die definierte Variable aus views.py -->
                        <tr>
                            <td>{{ kunde.vorname }}</td>  <!-- Ausgabe sämtlicher Vornamen -->
                            <td>{{ kunde.nachname }}</td> <!-- Ausgabe sämtlicher Nachnamen -->
                            <td>{{ kunde.email }}</td>  <!-- usw. -->
                            <td>{{ kunde.telefon }}</td>
                            <td>{{ kunde.web }}</td>
                            <td>{{ kunde.notiz }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info" href="{% url 'kunde_aktualisieren' kunde.id %}"
                                   data-toggle="tooltip" data-placement="top" title="Kundendaten bearbeiten">
                                    <span class="far fa-edit"></span></a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-danger" href="{% url 'kunde_loeschen' kunde.id %}"
                                   data-toggle="tooltip" data-placement="top" title="Kunde löschen">
                                    <span class="fas fa-trash-alt"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>


{% endblock body %}



