{% extends 'crm/base.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h2>Rechnungsliste</h2>
            <hr>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="{% url 'rechnung_anlegen' %}">
                    <span class="fas fa-plus"></span> Rechnung anlegen
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilter"
                        aria-expanded="false" aria-controls="collapseFilter">
                    <span class="fas fa-filter"></span> Filter
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="collapse" id="collapseFilter">
                <div class="card">
                    <div class="card-body">
                        <form method="GET">
                            {% csrf_token %}
                            {{ rechnung_filter.form | crispy }}
                            <button type="submit" class="btn btn-primary m-2"><span class="fas fa-filter"></span>
                                Filtern
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Kunde</th>
                        <th scope="col">Auftrag</th>
                        <th scope="col">Datum</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Zur Ausgabe die index-Variable nutzen. In diesem Fall rechnung -->
                    {% for rechnung in rechnungen %}
                        <tr>
                            <td>{{ rechnung.kunde }}</td>
                            <td>{{ rechnung.auftrag }}</td>
                            <td>{{ rechnung.datum }}</td>


                            <td>
                                <a class="btn btn-sm btn-danger" href="{% url 'rechnung_loeschen' rechnung.id %}"
                                   data-toggle="tooltip" data-placement="top" title="Rechnung löschen">
                                    <span class="fas fa-trash-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-dark" href="{% url 'pdf_view' rechnung.id %}"
                                   target="_blank" data-toggle="tooltip" data-placement="top" title="PDF öffnen">
                                    <span class="fas fa-file-pdf"></span></a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-dark" href="{% url 'pdf_download' rechnung.id %}"
                                   target="_blank" data-toggle="tooltip" data-placement="top"
                                   title="Rechnung herunterladen">
                                    <span class="fas fa-file-download"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-dark" href="{% url 'csv_download' rechnung.id %}"
                                   target="_blank" data-toggle="tooltip" data-placement="top"
                                   title="Als CSV herunterladen"><span class="fas fa-file-csv"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock body %}