@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.menuHeader {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.modalCenter {
    width: 100px;
    height: 50px;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 50px);
}
